// breakpoints
$bp_medium: 600px;
$bp_large: 1300px;
$bp_xlarge: 1526px;

$body_txt: 1.1em;
$heading_txt: 1.5em;
$subheading_txt: 1.3em;

$font: "Poppins", sans-serif;

$weight1: 600;
$weight2: 500;
$weight3: 400;

$color1: #925FE2;
$color2: #DFCFF7;

$main_white: #FFFFFF;

$black1: #1E1E1E;
$black2: #808080;

$nav_light: #C9AFF1;

$gradient: linear-gradient(0deg, #925FE2 70%, #C6A4FD 100%);
$gradient1: linear-gradient(90deg, #925FE2 0%, #C6A4FD 100%);
$gradient2: linear-gradient(180deg, #925FE2 0%, #7042C0 100%);

$shadow1: 4px 4px 48px 4px rgba(0, 0, 0, 0.08);
$shadow2: 4px 4px 7.5px 4px rgba(0, 0, 0, 0.02);

@media screen and (max-width: $bp_medium) {
  $body_txt: 16px;
  $heading_txt: 21px;
  $subheading_txt: 18px;
}

@media screen and (max-width: $bp_large) {
  $body_txt: 21px;
  $heading_txt: 40px;
  $subheading_txt: 35px;
}

@media screen and (max-width: $bp_xlarge) {
  $body_txt: 23px;
  $heading_txt: 60px;
  $subheading_txt: 35px;
}