@import "../utilities/variables.scss";

.header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

  .title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: $black1;
  }
}

.main {
  display: flex;
  gap: 24px;
  .cont {
    width: 430px;
    height: 160px;
    border-radius: 24px;
    background: #ffffff;
    box-shadow: $shadow1;

    .pogress_header {
      display: flex;

      .pogress_tekst {
        font-family: "Poppins", sans-serif;
        margin: auto;
        font-weight: 600;
        font-size: 18px;

        width: 365px;
        margin-left: 56px;
        margin-top: 24px;
        color: $black1;
      }
    }

    .progressbar_cont {
      display: inline-flex;
      margin-left: 56px;
      place-items: center;

      .progress_bar_cont {
        width: 318px;
        height: 40px;
        margin-top: 25px;
        position: absolute;

        .progress_wrapper {
          border-radius: 25px;
        }

        .progress_cont {
          background-color: $color2;
          border-radius: 73px;
        }

        .progress_label {
          font-size: 20px;
          display: none;
        }
      }
    }

    .pogress_footer {
      display: flex;
      margin-top: 10px;

      .pogress_stanje {
        width: 100px;
        height: 15px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        margin-right: 170px;
        line-height: 24px;
        color: $color1;
      }
      .pogress_cilj {
        width: 100px;
        height: 15px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;

        line-height: 24px;
        color: $color1;
      }
    }
  }
}
